 *{
    font-family:Arial, Helvetica, sans-serif
 }

body{
    text-align: center;
}

body{background-color:gray;}

#navbar{background-color: black;
    height: 50px;
    display: flex; 
    justify-content: flex-end;
    justify-content: flex-start;
    justify-content:center;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: space-around;
    align-items: flex-end;
    align-items: flex-start;
    align-items: center; 

}

#navbar a{ 
    color:red;
    font-size: 20px;
    text-decoration:none;
}

#navbar a:hover{
    color: blueviolet;
}

/* h1 {
    color: red;
    font-size: 50px;
} */

/* img{
    width: 100%;
    border-radius: 10%;
}  */


p {
    color: black;
    font-size: 20px;
}
/* 
.red_paragraph{
    color: red;
}
.blue_paragraph{
    color: blue;
}
.yellow_paragraph{
    color: yellow;
} */
.bold{
    font-weight: bold;
}

#img2{
     padding: 20px;
     border: 20px brown solid;
     margin: 20px;
}

.shop-img{
    width: 80%;
}

.coffee-img{
    width: 30%;
}
.hotchoclate-img{
    width: 20%;
}
.mocha-img{
    width: 20%;
}
.iced-img{
    width: 30%;
}
.cinnamonroll-img{
    width: 20%;
}
.croissant-img{
   width: 30%; ;
}
.painauchoclate-img{
    width:30%;
}
.pastries-img{
    width: 30%;
}
.toastie-img{
   width:30% ; 
}

.colum{
    border: 5px red;
}

















